body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    
}

.header {
    position: static;
    display: inline-block;
    left: 0;
    top: 0;
    height: 50px;
    width: 930px;
    padding: 10px;
    margin: 10px;
    background-color:#ebebeb;
    color: #777;
    text-align: center;
    border-bottom-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color:lightskyblue;    
 }

 #pHeader {
     font-size: 50px;
     margin: 0;
     padding: 0;
 }

.nav {
    position: relative;
    width: 930px;
    left: 0;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    background-color: #ebebeb;
    border-bottom-width: 3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color:lightskyblue;  
    text-align: center;
    
}

a:link, a:visited {
    background-color: #777;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
      
a:hover, a:active {
    background-color: lightskyblue;
}


.container {
    position: relative;
    top: 10px;
    width: 495px;
    float: left;
    padding: 10px;
    margin: 10px;
    background-color:#ebebeb;
}

#article1 {
    background-color: #777;
    color:#ebebeb;
    margin: 10px;
    padding: 10px;
    border-bottom-width: 0;
    border-top: 3px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color:lightskyblue; 
}

#articleContent {
    background-color:#ebebeb;
    color:#777

}

#articleContentHeader {
    background-color: #ebebeb;
    color: #777;
}


.aside {
    position: relative;
    float: right;
    width: 385px;
    top: 10px;
    height: 270px;
    background-color:#ebebeb;
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.footer {
    position: relative;
    display: inline-block;
    left: 0;
    bottom: 0;
    top: 30px;
    height: 50px;
    width: 930px;
    margin: 10px;
    padding: 10px;
    background-color:#ebebeb;
    color: #777;
    text-align: center;
    border-bottom-width: 0;
    border-top: 3px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color:lightskyblue; 
 }